<app-header></app-header>
<div class="buttons">
    <button (click)="isPosts(true)" class="posts-button">POSTS</button>
    <button (click)="isPosts(false)" class="my-posts-button">MES POSTS</button>
</div>
<div class="posts" *ngIf="isButtonPostsActive">
    <h2>Titre</h2>
    <p class="text">Text</p>
    <p class="ecrit">Ecrit par <mark>Pseudo</mark></p>
    <div class="emoji">
        <button *ngFor="let emoji of emojis; let i = index"
            (click)="toggleEmoji(i)">
            {{ emoji.icon }}{{ emoji.count }}
        </button>
    </div>
    <!--À voir si j'ai le temps
    <input placeholder="Donnez votre avis...">
    <p>Nom de la personne</p>
    <p>Avis de la personne</p>
    -->
</div>
<!-- <div id="capture" style="padding: 20px; background: white; color: black; width: 400px;">
    <h2>Titre</h2>
    <p>Mon texte à exporter</p>
</div> -->
<div class="mes-postes" id="capture" *ngIf="!isButtonPostsActive">
    <h2>{{myPost.title}}</h2>
    <p class="text">{{myPost.text}}</p>
    <p class="ecrit">Ecrit par <mark>Pseudo</mark></p>
    <div class="emoji">
        <button>❤️0</button>
        <button>💔0</button>
        <button>😢0</button>
        <button>😭0</button>
        <button>😤0</button>
        <button>😞0</button>
    </div>
    <button (click)="downloadImage()">Téléchargez</button>
</div>