<app-header></app-header>
<div class="buttons">
    <button (click)="isPosts(true)" class="posts-button">POSTS</button>
    <button (click)="isPosts(false)" class="my-posts-button">MES POSTS</button>
</div>
<div class="posts" *ngIf="isButtonPostsActive">
    <div class="post" *ngFor="let post of allPosts">
        <h2>{{post.title}}</h2>
        <p class="text">{{post.text}}</p>
        <p class="ecrit">Écrit par <mark>{{post.author}}</mark></p>
        <div class="emoji">
            <button *ngFor="let icon of ['❤️','💔','😢','😭','😤','😞']; let i = index"
              (click)="toggleEmoji(post, i)">
                {{ icon }}{{ post.emojis?.[getEmojiKey(i)] ?? 0 }}
            </button>
        </div>
    </div>
</div>
<div class="mes-postes" id="capture" *ngIf="!isButtonPostsActive">
    <div class="post" *ngFor="let post of myPosts">
        <h2>{{post.title}}</h2>
        <p class="text">{{post.text}}</p>
        <p class="ecrit"><mark></mark></p>
        <div class="emoji">
            <button *ngFor="let icon of ['❤️','💔','😢','😭','😤','😞']; let i = index"
              (click)="toggleEmoji(post, i)">
                {{ icon }}{{ post.emojis?.[getEmojiKey(i)] ?? 0 }}
            </button>
        </div>
        <button (click)="downloadImage(post)">Télécharger</button>
    </div>
</div>