<app-header></app-header>
<div class="buttons">
    <button (click)="isPosts(true)">POSTS</button>
    <button (click)="isPosts(false)">MES POSTS</button>
</div>
<div class="posts" *ngIf="isButtonPostsActive">
    <h2>Titre</h2>
    <p>Text</p>
    <p>Ecrit par <mark>Pseudo</mark></p>
    <button>Like</button>
    <p>Nombre de like</p>
    <!--À voir si j'ai le temps
    <input placeholder="Donnez votre avis...">
    <p>Nom de la personne</p>
    <p>Avis de la personne</p>
    -->
</div>
<div class="mes-postes" *ngIf="!isButtonPostsActive">
    <h2>Titre</h2>
    <p>Text</p>
    <p>Ecrit par <mark>Pseudo</mark></p>
    <button>Like</button>
    <p>Nombre de like</p>
    <button>Partagez</button>
</div>