header {
    width: 100%;
    position: relative;
    left: 0%;
    border-bottom: 2px solid white;
    box-shadow: 0 0 10px white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    h1 {
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: white;
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
        margin: 0;
    }

    .button-group {
        display: flex;
        gap: 1rem;
        margin-left: auto;
    }

    button {
        padding: 0.5rem 1rem;
        border: none;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 0 5px white;
    }

    .connexion {
        background-color: transparent;
        color: white;
        border: 2px solid white;
        &:hover {
            background-color: white;
            color: black;
        }
    }

    .inscription {
        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    h2 {
        font-size: 80px;
        position: relative;
        left: 2%; top: 290px;
        mark {
            background-color: transparent;
            color: black;
            text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
        }
    }
    p {
        font-size: 35px;
        position: relative;
        left: 2%; top: 320px;
    }
}

.question {
    // background-color: rgb(26, 25, 25);
    background: radial-gradient(circle at center, #2a2a2a, #000000);
    box-shadow: 0 0 10px white;
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    text-align: center;
    border-radius: 16px;
    h2 {
        font-size: 80px;
        position: relative;
        left: 5%;
        top: 25%;
    }
    .arrow {
        font-size: 80px;
        font-family: none;
        position: relative;
        top: 37%; left: 12%;
    }
    .response {
        font-size: 50px;
        position: relative;
        width: 35%;
        top: 14%; left: 20%;
    }
}

.test {
    background: radial-gradient(circle at center, #2a2a2a, #000000);
    box-shadow: 0 0 10px white;
    position: relative;
    top: 20px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 16px;
    h2 {
        text-align: center;
        font-size: 50px;
        position: relative;
        width: 35%;
        left: 33%;
        top: 30%;
    }
    button {
        padding: 0.5rem 1rem;
        border: none;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 0 5px white;
        background-color: white;
        color: black;
        border: 2px solid white;
        position: relative;
        width: 10%;
        top: 45%;
        left: 45%;
        font-size: 30px;
        font-family: "Dancing Script", cursive;
        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}