<header>
    <h1>TheEnd.page</h1>
    <div class="button-group">
        <button routerLink="/connexion" class="connexion">Connexion</button>
        <button routerLink="/inscription" class="inscription">Inscription</button>
    </div>
</header>
<div>
    <div class="main">
        <h2>BIENVENUE SUR <mark>TheEnd.page</mark></h2>
        <p>Dans nos moments les plus dures, se confier est la meilleure solution</p>
    </div>
    <div class="question">
        <h2>TheEnd.page ? Mais qu'est-ce que c'est ?</h2>
        <p>TheEnd.page est une plateforme qui permet à toute personne
            qui quitte quelque chose, ça peut être un projet, une équipe, son ou sa conjoint(e)
            de pouvoir créer sa propre page de "départ" personnalisé.
        </p>
        <p>TheEnd.page est la solution à tous vos problèmes !</p>
    </div>
    <div class="test">
        <h2>
            Voulez-vous dire un dernier mot avant de claquer la porte ?
        </h2>
        <button routerLink="/inscription">Cliquez ici !</button>
    </div>
</div>