<div class="main-content">
    <form (ngSubmit)="handleSubmit($event)">
        <h1>Connectez-vous</h1>
        <p>Email:</p>
        <input id="email" type="email" name="email" ngModel placeholder="Entrez votre email" required>
        <p>Mot de passe:</p>
        <input id="password" type="password" name="password" ngModel placeholder="Entrez votre mot de passe" required>
        <button type="submit">SE CONNECTEZ</button>
        <p>Pas de compte ? <button (click)="toSignInPage($event)">Inscrivez-vous</button></p>
    </form>
</div>
