.main-content {
    background: radial-gradient(circle at center, #2a2a2a, #000000);
    box-shadow: 0 0 10px white;
    position: relative;
    width: 25%;
    top: 190px;
    left: 38%;
    height: 600px;
    overflow: hidden;
    display: flex;
    text-align: center;
    border-radius: 16px;
    h1 {
        font-size: 70px;
        position: relative;
        left: 5%; top: 10%;
    }
    p {
        font-size: 33px;
        position: relative;
        top: 15%;
        left: 5%;
        margin-top: 30px;
    }
    input {
        background-color: transparent;
        color: white;
        font-family: "Dancing Script", cursive;
        position: relative;
        height: 40px;
        left: 5%;
        top: 17%;
        width: 90%;
        font-size: 31px;
        border: none;
        &:hover {
            box-shadow: 0 0 5px white;
        }
        &:focus {
            outline: none;
            border: 2px solid #fff;
        }
    }
    .connexion {
        border-radius: 4px;
        box-shadow: 0 0 5px white;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        top: 39%; left: 5%;
        font-size: 20px;
        height: 7%;
        width: 50%;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: transparent;
            color: white;
        }
    }
    .no-account {
        font-size: 21px;
        button {
            background: none;
            border: none;
            font-weight: bold;
            color: white;
            cursor: pointer;
            font-family: "Dancing Script", cursive;
            font-size: 20px;
            text-decoration: underline;
        }
    }
}